body {
    background: linear-gradient(
            hsl(273, 75%, 66%),
            hsl(240, 73%, 65%)
    ) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 128px 23px;
    margin: 0;

    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 23px;
    background-color: white;
    min-height: 455px;
    max-width: 875px;
    border-radius: 20px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 15px 30px 0 rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 15px 30px 0 rgba(0, 0, 0, 0.4);

    display:flex;
    flex-flow: column nowrap;

    background-image: none;
}

.image-box {
    height: 100px;
    position: relative;
}

div.illustration-mobile {
    margin: 0 auto;
    padding-right: 30px;
    /*width:0px;*/
    /*border: 1px solid black;*/
}

img.illustration-mobile {
    position: relative;
    display: block;
    margin: 0 auto;
    top: -128px;
}
img.shadow-mobile {
    position: relative;
    display: block;
    margin: 0 auto;
    top: -690px;
}
div.illustration-desktop {
    position: relative;
    /*display: block;*/
    /*margin: 0 auto;*/
    top: 50px;
    left: -23px;
    height: 470px;
    /*border: 1px solid black;*/
    overflow: hidden;
}
img.illustration-desktop {
    position: relative;
    left: -80px;
    display: none;
}

img.illustration-box-desktop {
    position: absolute;
    left: -153px;
    top: 187px;
    display: none;
}
img.shadow-desktop {
    position: absolute;
    right: 20px;
    top: -180px;
    display: none;
}

@media (max-width: 370px) {
    /* Hide illustration on screens that are way too small */
    img.illustration-mobile, img.shadow-mobile {
        display:none;
    }
}



main {
    /*text-align: center;*/

}
h1 {
    text-align: center;
}

@media (min-width: 965px) {
    .container {
        flex-flow: row nowrap;
        min-height: auto;

        background-image: url(../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: right 527px top -300px;
    }
    .image-box {
        height: auto;
        width: 50%;
    }
    .container > main {
        width: 50%;
    }
    img.illustration-mobile,
    img.shadow-mobile {
        display: none;
    }
    img.shadow-desktop, img.illustration-desktop, img.illustration-box-desktop {
        display: block;
    }
    h1 {
        text-align: left;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
li {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 0 0;
    padding: 5px 0;
    font-size: 12px;
    color: hsl(240, 6%, 50%);
    cursor: pointer;
}
span.caret {
    float: right;
    background-image: url(../images/icon-arrow-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 10px;
    width: 16px;
}

li > div.question {
    /*display: none;*/
    padding: 12px 0;
    margin: 0;
    font-size: 13px;
    transition: all 0.4s;
}
li > div.question:hover {
    color: hsl(14, 88%, 65%);
}
li > div.answer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    color: hsl(240, 6%, 65%);
    line-height: 18px;
    opacity: 0;

    transition: all 0.4s;
}
li.open > div.question {
    font-weight: bold;
    color: hsl(238, 29%, 16%);
    transition: all 0.4s;
}
li.open > div > span {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.4s;
}
li.open > div.answer {
    padding: 0 0 12px 0;
    max-height: 1000px;

    opacity: 1;

    transition: all 0.4s;
}
footer.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 16px;
    color: hsl(240, 6%, 78%);
}
footer > a {
    color: inherit;
}

/*a:link {*/
/*    color: inherit;*/

/*}*/
/*a:visited {*/
/*    color: inherit;*/
/*    text-decoration: none;*/
/*}*/
/*a:hover {*/
/*    color: inherit;*/
/*    text-decoration: none;*/
/*}*/
/*a:active {*/
/*    color: inherit;*/
/*    text-decoration: none;*/
/*}*/

